# A verb's usage-based meaning

Can we learn when to use the verb **start** and when to use the verb **begin** from exposure to examples?

- The movie `_________` at 7:30pm.
- The car wouldn't `_________`.
- My grandfather `_________` his company in 1927.
- The meeting `_________` at 9am.
- We should `_________` early, before traffic gets busy.
- The day `_________` well.

In [1]:
from scipy.sparse import dok_matrix # sparse logical (binary) matrix
import numpy as np
import pandas as pd

In [2]:
semantic = pd.read_csv('semantic_example.csv')
semantic.head()

               Cues Outcomes
0  commence_journey    START
1  commence_machine    START
2    commence_movie    START
3    commence_movie    START
4  commence_meeting    BEGIN

In [3]:
pd.DataFrame(semantic.groupby(['Cues','Outcomes'])['Cues'].count())

                            Cues
Cues              Outcomes
commence_business START        2
commence_day      BEGIN        8
                  START        3
commence_journey  START        2
commence_machine  START       11
commence_meeting  BEGIN       17
                  START        9
commence_movie    BEGIN       10
                  START       19